
body {
    margin: 0;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 1.8em;
  }
  

  header {
    padding: 2em;
    text-align: center;
    background-size: cover;
    background-position: fixed;
    color: rgb(0, 152, 172);
  }
  
  header img{
    max-width: 150px;
  }
  h1 {
    text-transform: uppercase;
    margin: 1em 0;
  }
  
  h3 {
    text-transform: uppercase;
  }
  
 table{
     margin: auto;
 }
 h1, h2, h3{
    color: rgb(167, 3, 3);
    font-family: 'Times New Roman';

 }
 h2 {
    font-size: 30px;
    color: #c70db7 ;
}